{% extends "base.html" %}

{% block title %}TeamUp - поиск команды{% endblock %}

{% block content %}
<section class="hero">
    <h1>Найди команду для своего проекта</h1>

    <p>
        TeamUp помогает студентам и начинающим разработчикам находить участников
        для учебных, pet-проектов и небольших командных инициатив.
    </p>

    <div class="hero-actions">
        <a href="/projects" class="button button-light">Смотреть проекты</a>

        {% if not user_name %}
            <a href="/projects/create" class="button button-secondary">Создать проект</a>
        {% else %}
            <a href="/register" class="button button-secondary">Начать работу</a>
        {% endif %}
    </div>
</section>
{% if user_name %}
    <div class="card user-panel">
        <h2>Личный кабинет</h2>
        <p><strong>Вы вошли как:</strong> {{ user_name }}</p>
        <p><strong>Email:</strong> {{ user_email }}</p>
        <p><strong>Роль:</strong> {{ user_role }}</p>

        <div class="actions">
            <a href="/projects" class="button">Список проектов</a>
            <a href="/my-projects" class="button button-secondary">Мои проекты</a>
            <a href="/my-applications" class="button button-secondary">Мои отклики</a>

            {% if user_role == "admin" %}
                <a href="/admin/projects" class="button button-danger">Админ-панель</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="card">
        <h2>Что можно делать в TeamUp?</h2>

        <p>
            Пользователь может зарегистрироваться, создать проект,
            откликнуться на чужой проект и отслеживать статус своей заявки.
        </p>

        <div class="actions">
            <a href="/register" class="button">Зарегистрироваться</a>
            <a href="/login" class="button button-secondary">Войти</a>
        </div>
    </div>
{% endif %}
{% endblock %}