{% extends "base.html" %}

{% block title %}Проекты{% endblock %}

{% block content %}

{% if message %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endif %}

<div class="page-header">
    <h1 class="page-title">Проекты</h1>

    {% if user_name %}
        <a href="/projects/create" class="button">Создать проект</a>
    {% endif %}
</div>

{% if projects %}
    <div class="projects-grid">
        {% for project in projects %}
            <div class="card project-card">
                <h3>{{ project.title }}</h3>

                <p>{{ project.description }}</p>

                <div class="meta">
                    <span class="badge badge-muted">
                        Автор ID: {{ project.owner_id }}
                    </span>

                    <span class="badge badge-success">
                        {{ project.status}}
                    </span>
                </div>

                <div class="actions">
                    {% if user_id == project.owner_id %}
                        <span class="badge">Ваш проект</span>

                    {% elif project.id in applied_project_ids %}
                        <span class="badge badge-warning">
                            Вы уже откликнулись
                        </span>

                    {% else %}
                        <form action="/projects/{{ project.id }}/apply" method="post">
                            <button class="button" type="submit">
                                Откликнуться
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="empty">
        Пока нет проектов.
    </div>
{% endif %}
{% endblock %}